@font-face {
    font-family: fontname;
    src: url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXiWtFCc.woff2);
}
body {
    background-color: #1F1D36;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #864879;
    text-align: center;
    background-color: #3F3351;
}
h1 {
    font-size: 60px;
}
img.food {
    display:block;
    margin: 0px auto;
}
img.logo,
img.banana,
img.mashed,
img.cheese{
    width: 280px;
    height: 240px;
    border: 20px groove violet;
}
ul.food,
ol.food {
    
    font-size: 28px;
    margin: 8px;
    padding-left: 1em;
    background-color: #864879;
}
.food li {
    color: #E9A6A6;
    font-size: 18px;
    padding: 0.5em;
}
a.mashed {
    font-family: "Lucida Console", "Courier New", monospace;
}
a.cheese {
    font-family: "Lucida Handwriting", "Brush Script MT", cursive;
}
a.banana {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a.allrecipes {
    font-family: Tahoma, Verdana, sans-serif;
}
a.allrecipes,
a.banana,
a.cheese,
a.mashed {
    display: block;
    margin-top: 0.5em;
    font-size: 40px;
}
p {
    font-family: Garamond, Georgia, "Times New Roman", serif;
    text-align: center;
    font-size: 22px;
    color: #E9A6A6;
}
.customfont {
    font-family: fontname, Verdana, sans-serif;
}
.boxme {
    width: 100px;
    margin: 0 auto;
    padding: 30px;
}
.flex-container {
    display: flex;
    margin-top: 1em;
}
.flex-container div {
    flex: 1;
    text-align: center;
    border: 0.5em solid #3F3351;
    background-color: #864879;
    font-size: 28px;
    color: #E9A6A6;
}
.flex-container .main {
    flex: 1;
    padding: 0.5em;
}